extends ./layout/index
block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="Materiales/img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Curabitur ut nunc eu massa semper dictum et non turpis. Phasellus commodo vestibulum ex nec lobortis. Cras quis scelerisque ante, nec finibus purus. Donec rutrum venenatis tortor, non placerat augue mattis ut. Aliquam in tortor non quam sagittis auctor. Quisque ipsum justo, gravida et nisi ut, consectetur vulputate lectus. Nunc auctor suscipit tellus at feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla faucibus risus eu augue vehicula ullamcorper. Nam varius varius nisl vitae accumsan. 

                p Praesent eget elementum justo, eu scelerisque felis. Nullam eu ultricies nibh, vel egestas metus. Maecenas porta varius luctus. Vivamus ac ipsum at magna finibus vestibulum quis ac elit. Duis eget eros vitae libero ornare gravida vitae ac odio. Aenean lorem velit, scelerisque id placerat ut, rutrum et ipsum. Nam nisl diam, aliquam ut porttitor ut, consectetur eget sapien. Nulla condimentum dolor non sapien efficitur.

                p Etiam finibus ut ipsum non mattis. Aliquam semper ex ex, nec consectetur enim venenatis a. Ut et odio viverra, hendrerit massa et, consequat mi. Sed convallis fermentum risus. Fusce ut commodo sapien. Donec eleifend fringilla augue, non dictum ligula convallis pharetra. Morbi tellus ligula, viverra vitae lorem quis, volutpat congue tortor. 

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="materiales/img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Etiam finibus ut ipsum non mattis. Aliquam semper ex ex, nec consectetur nim venenatis a. Ut et odio viverra, hendrerit massa et.

                .col-md-4
                    img(src="materiales/img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos
                    p Etiam finibus ut ipsum non mattis. Aliquam semper ex ex, nec consectetur nim venenatis a. Ut et odio viverra, hendrerit massa et.

                .col-md-4
                    img(src="materiales/img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Etiam finibus ut ipsum non mattis. Aliquam semper ex ex, nec consectetur nim venenatis a. Ut et odio viverra, hendrerit massa et.

